homeassistant/node-red/flows.json
[{"id":"6405ec2695bbe32b","type":"tab","label":"Turn on TV on Mom Return","disabled":false,"info":"","env":[]},{"id":"62c09dda336faf00","type":"tab","label":"AC Automation","disabled":true,"info":"","env":[]},{"id":"dcdeb3a9.8a976","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"5bd90b233ecfa1e0","type":"server-state-changed","z":"6405ec2695bbe32b","name":"Fetch Mom Status","server":"dcdeb3a9.8a976","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.jannette_s_iphone","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":95,"y":638.3333039283752,"wires":[["e7564a4b860f9d67"]]},{"id":"e7564a4b860f9d67","type":"switch","z":"6405ec2695bbe32b","name":"Home or Not?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":305,"y":638.3333039283752,"wires":[["ad18b234a0c75510"],["3c5ac271af6b983e"]]},{"id":"973d8b3139eef39e","type":"api-call-service","z":"6405ec2695bbe32b","name":"Turn Off Switch","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":["8dea4e825d933c88312226cae6c93bc8"],"entityId":["switch.bed_l"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":800,"wires":[[]]},{"id":"2b531bd632186121","type":"api-current-state","z":"6405ec2695bbe32b","name":"Is Switch On?","server":"dcdeb3a9.8a976","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.bed_l","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1100,"y":800,"wires":[["973d8b3139eef39e"],[]]},{"id":"ad18b234a0c75510","type":"api-current-state","z":"6405ec2695bbe32b","name":"Is Switch On?","server":"dcdeb3a9.8a976","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.bed_l","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":520,"wires":[["d8b0738422dde88c"],["8a7f5559037946f7"]]},{"id":"3c5ac271af6b983e","type":"delay","z":"6405ec2695bbe32b","name":"Delay 1hr","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":540,"y":800,"wires":[["a752ccb4a8512744"]]},{"id":"4f73e2ff96635188","type":"api-current-state","z":"6405ec2695bbe32b","name":"Is TV On?","server":"dcdeb3a9.8a976","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.vizio_smartcast","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1360,"y":700,"wires":[[],["4f853a6dee529be8"]]},{"id":"2d68e25701b72c7d","type":"api-current-state","z":"6405ec2695bbe32b","name":"Is TV On?","server":"dcdeb3a9.8a976","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.vizio_smartcast","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":460,"wires":[[],["2b18d9a26843d65d"]]},{"id":"d8b0738422dde88c","type":"time-range-switch","z":"6405ec2695bbe32b","name":"Night Time?","lat":"40.8140951","lon":"-73.9094517","startTime":"00:30","endTime":"07:00","startOffset":0,"endOffset":0,"x":790,"y":380,"wires":[["b9c44e9c7ba1e94b"],["2d68e25701b72c7d"]]},{"id":"b9c44e9c7ba1e94b","type":"api-current-state","z":"6405ec2695bbe32b","name":"Is TV On?","server":"dcdeb3a9.8a976","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.vizio_smartcast","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1085,"y":298.33330392837524,"wires":[["bf96a6bd5ab59886"],[]]},{"id":"8a7f5559037946f7","type":"time-range-switch","z":"6405ec2695bbe32b","name":"Night Time?","lat":"40.8140951","lon":"-73.9094517","startTime":"00:30","endTime":"07:00","startOffset":0,"endOffset":0,"x":790,"y":620,"wires":[["4831ef09191d26f8"],["5d931c031e66b170"]]},{"id":"4831ef09191d26f8","type":"api-current-state","z":"6405ec2695bbe32b","name":"Is TV On?","server":"dcdeb3a9.8a976","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.vizio_smartcast","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":540,"wires":[["f41027f99ed0151b"],[]]},{"id":"f41027f99ed0151b","type":"api-call-service","z":"6405ec2695bbe32b","name":"Turn Off TV","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":[],"entityId":["media_player.fire_tv_192_168_10_105"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":540,"wires":[[]]},{"id":"dbf20a0e4efcc018","type":"delay","z":"6405ec2695bbe32b","name":"1min","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1210,"y":700,"wires":[["4f73e2ff96635188"]]},{"id":"a752ccb4a8512744","type":"api-current-state","z":"6405ec2695bbe32b","name":"Fetch Mom Status","server":"dcdeb3a9.8a976","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.jannette","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":800,"wires":[[],["a7b3f6ed48f017ba"]]},{"id":"a7b3f6ed48f017ba","type":"delay","z":"6405ec2695bbe32b","name":"1min","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":930,"y":800,"wires":[["2b531bd632186121"]]},{"id":"32d27eb5e4488c8e","type":"delay","z":"6405ec2695bbe32b","name":"15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1410,"y":460,"wires":[["c6370ccef2e0bc9b"]]},{"id":"0d976708161e69f3","type":"api-call-service","z":"6405ec2695bbe32b","name":"Open TV App","server":"dcdeb3a9.8a976","version":5,"debugenabled":true,"domain":"androidtv","service":"adb_command","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":["950eed28d801d18e518e423d5098ebeb"],"entityId":["media_player.fire_tv_192_168_10_105"],"data":"{\"command\":\"am start -a android.intent.action.VIEW -n   ar.tvplayer.tv/.ui.MainActivity\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2020,"y":460,"wires":[[]]},{"id":"bf96a6bd5ab59886","type":"api-call-service","z":"6405ec2695bbe32b","name":"Turn Off TV","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":[],"entityId":["media_player.fire_tv_192_168_10_105"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1255,"y":298.33330392837524,"wires":[[]]},{"id":"5d931c031e66b170","type":"api-call-service","z":"6405ec2695bbe32b","name":"Turn On Switch","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":["8dea4e825d933c88312226cae6c93bc8"],"entityId":["switch.bed_l"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":700,"wires":[["dbf20a0e4efcc018"]]},{"id":"c6370ccef2e0bc9b","type":"api-call-service","z":"6405ec2695bbe32b","name":"Switch Source","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":[],"entityId":["media_player.vizio_smartcast"],"data":"{\"source\":\"HDMI-1\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":460,"wires":[["087c2fb0c486d50a"]]},{"id":"2b18d9a26843d65d","type":"api-call-service","z":"6405ec2695bbe32b","name":"Turn on TV","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"media_player","service":"turn_on","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":[],"entityId":["media_player.vizio_smartcast"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":460,"wires":[["32d27eb5e4488c8e"]]},{"id":"087c2fb0c486d50a","type":"delay","z":"6405ec2695bbe32b","name":"15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1850,"y":460,"wires":[["0d976708161e69f3"]]},{"id":"9e16c537046ee36f","type":"delay","z":"6405ec2695bbe32b","name":"15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1690,"y":700,"wires":[["e8b2746c5c1aa6d9"]]},{"id":"44bfd686ea17fc34","type":"api-call-service","z":"6405ec2695bbe32b","name":"Open TV App","server":"dcdeb3a9.8a976","version":5,"debugenabled":true,"domain":"androidtv","service":"adb_command","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":["950eed28d801d18e518e423d5098ebeb"],"entityId":["media_player.fire_tv_192_168_10_105"],"data":"{\"command\":\"am start -a android.intent.action.VIEW -n   ar.tvplayer.tv/.ui.MainActivity\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2320,"y":700,"wires":[[]]},{"id":"e8b2746c5c1aa6d9","type":"api-call-service","z":"6405ec2695bbe32b","name":"Switch Source","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":[],"entityId":["media_player.vizio_smartcast"],"data":"{\"source\":\"HDMI-1\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":700,"wires":[["c42d9a5dae0fc6e3"]]},{"id":"c42d9a5dae0fc6e3","type":"delay","z":"6405ec2695bbe32b","name":"15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2150,"y":700,"wires":[["44bfd686ea17fc34"]]},{"id":"4f853a6dee529be8","type":"api-call-service","z":"6405ec2695bbe32b","name":"Turn on TV","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"media_player","service":"turn_on","areaId":["656b4f27ef0be96d9cc0e9e81fe3d72f"],"deviceId":[],"entityId":["media_player.vizio_smartcast"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":700,"wires":[["9e16c537046ee36f"]]},{"id":"6cfac4965cf7eea7","type":"server-state-changed","z":"62c09dda336faf00","name":"Fetch Temperature","server":"dcdeb3a9.8a976","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.air_conditioner_room_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":95,"y":571,"wires":[["f6bd82143e310481"]]},{"id":"2df633da0674f6c2","type":"api-call-service","z":"62c09dda336faf00","name":"Turn on AC","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"climate","service":"turn_on","areaId":["5782b806df8c249a079e2b13a799eefd"],"deviceId":["b3b8c6c1b9239e0e0e3a59f592b86dc9"],"entityId":["climate.air_conditioner"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":620,"wires":[["d295526558dce0db"]]},{"id":"1907f126d097ca8c","type":"api-call-service","z":"62c09dda336faf00","name":"Turn off AC","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"climate","service":"turn_off","areaId":["5782b806df8c249a079e2b13a799eefd"],"deviceId":["b3b8c6c1b9239e0e0e3a59f592b86dc9"],"entityId":["climate.air_conditioner"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":860,"wires":[[]]},{"id":"697eb04e0232629f","type":"api-current-state","z":"62c09dda336faf00","name":"Is AC Off?","server":"dcdeb3a9.8a976","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.air_conditioner","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":680,"wires":[["2df633da0674f6c2"],["4b6752227dd4bcd7"]]},{"id":"840d4b9d40f6d3bd","type":"api-call-service","z":"62c09dda336faf00","name":"Set Fan Mode LOW","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"climate","service":"set_fan_mode","areaId":["5782b806df8c249a079e2b13a799eefd"],"deviceId":["b3b8c6c1b9239e0e0e3a59f592b86dc9"],"entityId":["climate.air_conditioner"],"data":"{\"fan_mode\":\"LOW\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1560,"y":620,"wires":[[]]},{"id":"f6bd82143e310481","type":"switch","z":"62c09dda336faf00","name":"Cold or Hot","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"str"},{"t":"btwn","v":"60","vt":"num","v2":"69","v2t":"num"},{"t":"lte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":580,"wires":[["eb6306e11ad51fc9"],["697eb04e0232629f"],["1907f126d097ca8c"]]},{"id":"2f9abf01679bfae0","type":"api-call-service","z":"62c09dda336faf00","name":"Set Fan Mode HIGH","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"climate","service":"set_fan_mode","areaId":["5782b806df8c249a079e2b13a799eefd"],"deviceId":["b3b8c6c1b9239e0e0e3a59f592b86dc9"],"entityId":["climate.air_conditioner"],"data":"{\"fan_mode\":\"HIGH\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":420,"wires":[[]]},{"id":"450c95aec45cf212","type":"api-call-service","z":"62c09dda336faf00","name":"Turn on AC","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"climate","service":"turn_on","areaId":["5782b806df8c249a079e2b13a799eefd"],"deviceId":["b3b8c6c1b9239e0e0e3a59f592b86dc9"],"entityId":["climate.air_conditioner"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":420,"wires":[["25a888dafe4d129b"]]},{"id":"eb6306e11ad51fc9","type":"api-current-state","z":"62c09dda336faf00","name":"Is AC Off?","server":"dcdeb3a9.8a976","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.air_conditioner","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":460,"wires":[["450c95aec45cf212"],["d8dabfc3c196a0ba"]]},{"id":"b5f888d21b434851","type":"switch","z":"62c09dda336faf00","name":"Set Fan Mode","property":"data.attributes.fan_mode","propertyType":"msg","rules":[{"t":"neq","v":"HIGH","vt":"str"},{"t":"eq","v":"HIGH","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1320,"y":420,"wires":[["2f9abf01679bfae0"],[]]},{"id":"25a888dafe4d129b","type":"api-current-state","z":"62c09dda336faf00","name":"Fetch Fan Mode","server":"dcdeb3a9.8a976","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.air_conditioner","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1060,"y":420,"wires":[["b5f888d21b434851"]]},{"id":"0edb5bda58f94f34","type":"switch","z":"62c09dda336faf00","name":"Set Fan Mode","property":"data.attributes.fan_mode","propertyType":"msg","rules":[{"t":"neq","v":"LOW","vt":"str"},{"t":"eq","v":"LOW","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1300,"y":620,"wires":[["840d4b9d40f6d3bd"],[]]},{"id":"d295526558dce0db","type":"api-current-state","z":"62c09dda336faf00","name":"Fetch Fan Mode","server":"dcdeb3a9.8a976","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.air_conditioner","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1040,"y":620,"wires":[["0edb5bda58f94f34"]]},{"id":"bdcceed15559aba1","type":"api-call-service","z":"62c09dda336faf00","name":"Set Fan Mode HIGH","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"climate","service":"set_fan_mode","areaId":["5782b806df8c249a079e2b13a799eefd"],"deviceId":["b3b8c6c1b9239e0e0e3a59f592b86dc9"],"entityId":["climate.air_conditioner"],"data":"{\"fan_mode\":\"HIGH\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":520,"wires":[[]]},{"id":"48dd4496c1371e24","type":"switch","z":"62c09dda336faf00","name":"Set Fan Mode","property":"data.attributes.fan_mode","propertyType":"msg","rules":[{"t":"neq","v":"HIGH","vt":"str"},{"t":"eq","v":"HIGH","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":520,"wires":[["bdcceed15559aba1"],[]]},{"id":"d8dabfc3c196a0ba","type":"api-current-state","z":"62c09dda336faf00","name":"Fetch Fan Mode","server":"dcdeb3a9.8a976","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.air_conditioner","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":520,"wires":[["48dd4496c1371e24"]]},{"id":"e38b32c5f958a53d","type":"api-call-service","z":"62c09dda336faf00","name":"Set Fan Mode LOW","server":"dcdeb3a9.8a976","version":5,"debugenabled":false,"domain":"climate","service":"set_fan_mode","areaId":["5782b806df8c249a079e2b13a799eefd"],"deviceId":["b3b8c6c1b9239e0e0e3a59f592b86dc9"],"entityId":["climate.air_conditioner"],"data":"{\"fan_mode\":\"LOW\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":720,"wires":[[]]},{"id":"d8896eead9ca6356","type":"switch","z":"62c09dda336faf00","name":"Set Fan Mode","property":"data.attributes.fan_mode","propertyType":"msg","rules":[{"t":"neq","v":"LOW","vt":"str"},{"t":"eq","v":"LOW","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":720,"wires":[["e38b32c5f958a53d"],[]]},{"id":"4b6752227dd4bcd7","type":"api-current-state","z":"62c09dda336faf00","name":"Fetch Fan Mode","server":"dcdeb3a9.8a976","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.air_conditioner","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":720,"wires":[["d8896eead9ca6356"]]}]